/*--商品分類--*/

.nav-categories{
    box-shadow: inset 0px 14px 14px -14px #C6C6C6;
    border-top: 1px #fff solid;
}
.list-categories{
    margin-top: 24px;
}

.nav-categories, 
.list-categories{
    text-align: center;
    width: 100%;
    padding: 0 5%;
    font-weight: bold;
    color: #333;
    line-height: 1.4;
}

.nav-categories ul,
.list-categories ul{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.nav-categories li,
.list-categories li{
    width: 28%;
    min-width: 80px;
    max-width: 120px;
    margin: 8px 2.5%;
}

.nav-categories li img,
.list-categories li img{
    max-width: 80px;
    display: block;
    margin: 10px auto;
}

/*--240223新增icon--*/

.icon-member{
    background: url(https://okmall.okmart.com.tw/assets/img/images/icon-member.svg) no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
    position: absolute;
    right: 12px;
    top: 14px;
    z-index: 2;
    text-indent: -9999px;
    border: 0;
    background-color: #eee;
}

.navbar-search{
    right:26px;
}